<html>
<head>
  <title>Coder Pinterest</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="all" href="/assets/application-9a0f5e117bccf4a46832dd24b2b7daed7141fd8790e622ba8c24ef429dbbcfb5.css" data-turbolinks-track="true" />
    <script src="/assets/application-56d8e774d7dba51c497a5cc9ce5615ea6c8848fffcaccdcd73b1d2157ea772b1.js" data-turbolinks-track="true"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="unyIm8WewUNvpwBqiFzzbPKMieK6pHdeTkixxjBozjlbmz3b7CQENXLQa2KdkyCVsSQSs3zqJMk8F1NG8WqBIQ==" />
</head>
<body>
  <div class="container">
    <h1>Add a New Pin!</h1>
    <% if !@errors.nil? %>
    <div class="alert alert-danger" role="alert"><p><b><%= pluralize(@errors.count, "error") %> prohibited this pin from being saved:</b></p>
      <ul>
        <% @errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "form" %>
</body>
</html>